.details {
  padding: 25px 0px;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.detailsSwiperItem {
  padding-bottom: 20px;
  font-size: 20px;
}

.detailsBodyItem {
  padding-bottom: 15px;
}

.detailsMain {
  display: flex;
  flex-direction: column;
}

.detailsMain {
  padding: 20px 0px;
}

.detailsBody {
  font-family: 'Jost';
  font-size: 20px;
  padding: 20px 0px;
}

.detailsRead {
  padding: 20px;
  background-color: orange;
  color: #fff;
  font-family: 'Noto Sans';
  white-space: pre-wrap;
  border-radius: 5px;
}

.detailsRead h2{
  font-size: 20px;
  padding-bottom: 25px;
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 1;
}

:global(.swiper) {
  --swiper-navigation-size: 35px;
  --swiper-navigation-color: orange;
  --swiper-pagination-color: orange;
}

.swiper-pagination-bullet-active {
  background: black;
}

.swiper {
  width: 100%;
}


@media (min-width:450px) {
  .image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
}


@media (min-width:550px) {
  .detailsSwiper {
    flex: 70%;
    min-width: 0;
  }

  .detailsBody {
    flex: 30%;
    min-width: 0;
  }

  .detailsMain {
    flex-direction: row;
    max-width: 100%;
    gap: 40px;
  }

  .image {
    max-width: 100%;
  }
}

@media (min-width:768px) {
  .image {
    height: 500px;
  }
}

@media (min-width:1200px) {
  .detailsSwiper {
    flex: 50%;
  }
}

@media (min-width:1400px) {
  .detailsSwiper {
    flex: 40%;
  }

  .image {
    height: 550px;
  }
}





























.container {
  width: 100%;
  padding: 0px 20px;
  min-height: 100%;
}

@media (min-width:768px) {
  .container {
    width: 100%;
    padding: 0px 40px;
  }
}

@media (min-width:1000px) {
  .container {
    max-width: 1000px;
    margin: 0px auto;
    border-left: 1px solid rgba(128, 128, 128, 0.283);
    border-right: 1px solid rgba(128, 128, 128, 0.285);
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1100px;
    margin: 0px auto;
  }
}

@media (min-width:1400px) {
  .container {
    max-width: 1200px;
    margin: 0px auto;
  }
}

@media (min-width:1500px) {
  .container {
    max-width: 1350px;
    margin: 0px auto;
  }
}

@media (min-width:1550px) {
  .container {
    max-width: 1450px;
    margin: 0px auto;
  }
}