.createAds {
  padding: 20px 0px;
  height: 100%;
}

.createAdsBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Jost';
}

.createAdsColumn input {
  background-color: orange;
  padding: 10px 15px;
  color: #fff;
  min-width: 200px;
}

.createAdsColumn textarea {
  background-color: orange;
  padding: 10px 15px;
  color: #fff;
  min-width: 100%;
  min-height: 200px;
}

.createAdsColumn input::placeholder {
  background-color: orange;
  color: #fff;
}

.createAdsColumn textarea::placeholder {
  background-color: orange;
  color: #fff;
}


.createAdsColumn select {
  background-color: orange;
  padding: 10px 15px;
  color: #fff;
  width: 198px;
}


.createAdsButton {
  display: flex;
  justify-content: center;
}

.statusDone{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  gap: 25px;
}



.statusDone h1 {
  font-family: "Jost";
  font-size: 25px;
  text-align: center;
}

.statusDone p{
  font-family: 'Noto Sans';
}

.statusDone p button{
  padding: 5px 8px;
  border-radius: 3px;
  transition: 300ms;
}

.statusDone p button:hover{
  background-color: orange;
  color: #fff;
}

.createAdsButton button {
  padding: 10px 15px;
  font-weight: 500;
  transition: 300ms;
  border-radius: 5px;
}

.createAdsButton button:hover{
  background-color: orange;
  color: #fff;
}

.createAdsPreviev {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 15px;
  position: relative;
}

.createAdsPrevievItem {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.deleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  border: none;
  padding: 3px 6px;
  cursor: pointer;
}

.createAdsPrevievItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.customFileUpload {
  background: orange;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.createAdsFile {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media(min-width:700px) {
  .createAdsPreviev {
    grid-template-columns: repeat(4, 150px);
  }
}

@media(min-width:1200px) {
  .createAdsPreviev {
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(1, 150px);
  }

}