.header {
  border-bottom: 1px solid grey;
  padding: 20px 0px;
}

.headerBody {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

.headerLogo {
  cursor: pointer;
  width: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 25px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: orange;
  color: #fff;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.userName {
  background-color: orange;
  padding: 6px 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
}

.createAds {
  padding: 5px 7px;
  border-radius: 5px;
  font-family: 'Noto Sans';
  font-weight: 500;
  transition: 300ms;
  font-size: 13px;
}

.headerTools {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dropDownInfo {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #fff;
}

.user {
  display: flex;
  position: relative;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-family: "Jost";
}


.dropDown {
  font-family: "Noto Sans";
  position: absolute;
  top: 35px;
  right: 0px;
  background: orange;
  border-radius: 8px;
  z-index: 1000;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgb(201, 131, 0);
  transition: 300ms;
}

.dropDown {
  position: absolute;
  right: 0px;
  top: 110%;
  opacity: 0;
  transform: translateX(20px);
  /* сдвиг вправо */
  pointer-events: none;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.15);

  transition: all 0.2s ease;
}

.open {
  opacity: 1;
  transform: translateX(0);
  /* возвращаем на место */
  pointer-events: auto;
}

.dropDown h2 {
  cursor: pointer;
}

.dropDown h2:hover {
  text-decoration: underline;
}

.user img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}



.headerTools button {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Noto Sans';
  font-weight: 500;
  transition: 300ms;
}

.headerTools button:hover {
  transition: 300ms;
  background-color: orange;
  color: #fff;
  border: 1px solid #fff;
}

















.container {
  width: 100%;
  padding: 0px 20px;
  min-height: 100%;
}

@media (min-width: 450px) {
  .leftColumn {
    flex-direction: row;
  }
}

@media (min-width:768px) {
  .container {
    width: 100%;
    padding: 0px 40px;
  }
}

@media (min-width:1000px) {
  .container {
    max-width: 1000px;
    margin: 0px auto;
    border-left: 1px solid rgba(128, 128, 128, 0.283);
    border-right: 1px solid rgba(128, 128, 128, 0.285);
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1100px;
    margin: 0px auto;
  }
}

@media (min-width:1400px) {
  .container {
    max-width: 1200px;
    margin: 0px auto;
  }
}

@media (min-width:1500px) {
  .container {
    max-width: 1350px;
    margin: 0px auto;
  }
}

@media (min-width:1550px) {
  .container {
    max-width: 1450px;
    margin: 0px auto;
  }
}