.listAdd{
  padding: 25px 0px;
}

.listAddBody{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 30px;
}

.listAddHeader{
  padding-bottom: 20px;
  font-family: 'Jost';
}

@media (min-width:768px){
  .listAddBody{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width:1400px){
  .listAddBody{
    grid-template-columns: repeat(3,1fr);
  }
}