.item {
  font-family: "Jost";
  display: block;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* Картинка */
.imgContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Контент */
.body {
  padding: 12px;
}

/* Заголовок */
.body h2:first-child {
  font-size: 16px;
  margin: 0 0 6px 0;
  color: #222;
}

/* Цена */
.body h2:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 6px 0;
  color: #000;
}



/* Остальной текст */
.body h2 {
  font-size: 14px;
  margin: 2px 0;
  color: #666;
}

.body h3{
  padding-top: 10px;
  font-size: 12px;
  font-weight: 600;
}

@media (min-width:1400px){
  .imgContainer {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
}