.item {
  display: flex;
  gap: 15px;
  padding: 10px;
}


.myAds {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemBody {
  border: 1px solid #000;
}


.itemTools {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.itemTools button {
  padding: 3px 10px;
  background-color: orange;
  color: #fff;
  font-family: "Jost";
  position: absolute;
}

.itemSection img {
  max-width: 90px;
}

.itemSectionBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  align-items: start;
  font-family: 'Jost';
  justify-content: center;
  padding: 10px;
}

.noAds {
  font-family: "Noto Sans";
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 200px);
  justify-content: center;
}



.noAds p {
  margin-top: 20px;
  text-align: center;
  line-height: 200%;
}

.noAds p span button {
  padding: 5px 8px;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
}

.noAds p span {
  padding: 0px 10px;
}

.noAds h2 {
  text-align: center;
  font-size: 25px;
}

@media (min-width: 1000px) {
  .myAds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}